/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --text-color: #2e2e2e;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(83, 83, 83, 0.4);
  border-radius: 10px;
}

.login-container {
  background: #f5f5f5 url("/image/bg-line.svg") no-repeat center / cover;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.pulsate-fwd span {
  line-height: 10px;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.table-device::-webkit-scrollbar {
  display: none;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

.modal-content-wrapper::-webkit-scrollbar {
  display: none;
}

.menu-wrapper::-webkit-scrollbar {
  display: none;
}

.chart::-webkit-scrollbar {
  display: none;
}

.common-wrapper::-webkit-scrollbar {
  display: none;
}

.loader {
  border: 3px solid #ccc;
  border-radius: 50%;
  border-top: 3px solid #fff;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.desc-blog {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-wrapper h1,
.content-wrapper h1 strong {
  color: var(--text-color);
  font-size: 34px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 24px;
}

.content-wrapper h2,
.content-wrapper h2 strong {
  color: var(--text-color);
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 24px;
}

.content-wrapper h3,
.content-wrapper h3 strong {
  color: var(--text-color);
  line-height: 1.4;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.content-wrapper h4,
.content-wrapper h4 strong {
  color: var(--text-color);
  text-align: justify;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.content-wrapper h5,
.content-wrapper h5 strong {
  color: var(--text-color);
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 16px;
}

.content-wrapper h6,
.content-wrapper h6 strong {
  color: var(--text-color);
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 16px;
}

.content-wrapper p {
  color: var(--text-color);
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 16px;
}

.content-wrapper strong {
  color: var(--text-color);
  text-align: justify;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 8px;
}

.content-wrapper em {
  color: var(--text-color);
  /* text-decoration: underline; */
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-right: 4px;
}

.content-wrapper a {
  text-decoration: underline;
  color: #0b32ef;
}

.content-wrapper figcaption {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}

.content-wrapper ul {
  margin-left: 20px;
  margin-bottom: 16px;
  list-style: disc;
  font-size: 18px;
  text-align: justify;
}

.content-wrapper img {
  width: 100%;
  margin: 24px auto 8px auto;
  border-radius: 4px;
}

.content-wrapper table,
.content-wrapper td,
.content-wrapper th {
  border-collapse: collapse;
  border: 1px solid rgba(46, 46, 46, 0.4);
  padding: 8px;
}

.content-wrapper table {
  margin-bottom: 16px;
}

.content-wrapper tr:first-child {
  background-color: #e0edff;
  text-align: center;
}

#wave-container-top {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 72.5%,
    1% 68.97%,
    2% 66.19%,
    3% 64.39%,
    4% 63.69%,
    5% 64.15%,
    6% 65.73%,
    7% 68.32%,
    8% 71.72%,
    9% 75.66%,
    10% 79.85%,
    11% 83.98%,
    12% 87.72%,
    13% 90.8%,
    14% 92.97%,
    15% 94.08%,
    16% 94.05%,
    17% 92.86%,
    18% 90.62%,
    19% 87.49%,
    20% 83.71%,
    21% 79.58%,
    22% 75.39%,
    23% 71.47%,
    24% 68.12%,
    25% 65.6%,
    26% 64.09%,
    27% 63.7%,
    28% 64.47%,
    29% 66.35%,
    30% 69.18%,
    31% 72.75%,
    32% 76.79%,
    33% 81%,
    34% 85.05%,
    35% 88.64%,
    36% 91.49%,
    37% 93.39%,
    38% 94.19%,
    39% 93.83%,
    40% 92.35%,
    41% 89.85%,
    42% 86.51%,
    43% 82.61%,
    44% 78.43%,
    45% 74.28%,
    46% 70.49%,
    47% 67.34%,
    48% 65.08%,
    49% 63.87%,
    50% 63.8%,
    51% 64.88%,
    52% 67.03%,
    53% 70.09%,
    54% 73.82%,
    55% 77.94%,
    56% 82.13%,
    57% 86.08%,
    58% 89.5%,
    59% 92.11%,
    60% 93.72%,
    61% 94.21%,
    62% 93.54%,
    63% 91.76%,
    64% 89.01%,
    65% 85.49%,
    66% 81.48%,
    67% 77.28%,
    68% 73.2%,
    69% 69.56%,
    70% 66.63%,
    71% 64.64%,
    72% 63.73%,
    73% 63.98%,
    74% 65.37%,
    75% 67.78%,
    76% 71.05%,
    77% 74.91%,
    78% 79.09%,
    79% 83.25%,
    80% 87.08%,
    81% 90.3%,
    82% 92.65%,
    83% 93.97%,
    84% 94.14%,
    85% 93.16%,
    86% 91.1%,
    87% 88.12%,
    88% 84.44%,
    89% 80.34%,
    90% 76.14%,
    91% 72.15%,
    92% 68.68%,
    93% 65.99%,
    94% 64.28%,
    95% 63.68%,
    96% 64.25%,
    97% 65.93%,
    98% 68.6%,
    99% 72.06%,
    100% 76.04%
  );
}

#wave-container-bot {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 72.5%,
    1% 68.97%,
    2% 66.19%,
    3% 64.39%,
    4% 63.69%,
    5% 64.15%,
    6% 65.73%,
    7% 68.32%,
    8% 71.72%,
    9% 75.66%,
    10% 79.85%,
    11% 83.98%,
    12% 87.72%,
    13% 90.8%,
    14% 92.97%,
    15% 94.08%,
    16% 94.05%,
    17% 92.86%,
    18% 90.62%,
    19% 87.49%,
    20% 83.71%,
    21% 79.58%,
    22% 75.39%,
    23% 71.47%,
    24% 68.12%,
    25% 65.6%,
    26% 64.09%,
    27% 63.7%,
    28% 64.47%,
    29% 66.35%,
    30% 69.18%,
    31% 72.75%,
    32% 76.79%,
    33% 81%,
    34% 85.05%,
    35% 88.64%,
    36% 91.49%,
    37% 93.39%,
    38% 94.19%,
    39% 93.83%,
    40% 92.35%,
    41% 89.85%,
    42% 86.51%,
    43% 82.61%,
    44% 78.43%,
    45% 74.28%,
    46% 70.49%,
    47% 67.34%,
    48% 65.08%,
    49% 63.87%,
    50% 63.8%,
    51% 64.88%,
    52% 67.03%,
    53% 70.09%,
    54% 73.82%,
    55% 77.94%,
    56% 82.13%,
    57% 86.08%,
    58% 89.5%,
    59% 92.11%,
    60% 93.72%,
    61% 94.21%,
    62% 93.54%,
    63% 91.76%,
    64% 89.01%,
    65% 85.49%,
    66% 81.48%,
    67% 77.28%,
    68% 73.2%,
    69% 69.56%,
    70% 66.63%,
    71% 64.64%,
    72% 63.73%,
    73% 63.98%,
    74% 65.37%,
    75% 67.78%,
    76% 71.05%,
    77% 74.91%,
    78% 79.09%,
    79% 83.25%,
    80% 87.08%,
    81% 90.3%,
    82% 92.65%,
    83% 93.97%,
    84% 94.14%,
    85% 93.16%,
    86% 91.1%,
    87% 88.12%,
    88% 84.44%,
    89% 80.34%,
    90% 76.14%,
    91% 72.15%,
    92% 68.68%,
    93% 65.99%,
    94% 64.28%,
    95% 63.68%,
    96% 64.25%,
    97% 65.93%,
    98% 68.6%,
    99% 72.06%,
    100% 76.04%
  );
}

.list-disc {
  list-style: disc;
}

.link {
  text-decoration: underline;
  color: #0b32ef;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* global.css */
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}
